body{
    text-align: center;
    color: brown;
    
}
#apps{
    width: 100%;
    height: 800px;
    background-color: #f7e32a;
    
}
#games{
    width: 100%;
    height: 800px;
    background-color:#1c80eb;
    
}
#chatbots{
    width: 100%;
    height: 800px;
    background-color:#f22272;
    
}
.line{
    height: 6px;
width: 70px;
    margin: 8px auto;
    background-color: black;
    

}
img{
    transition: transform .2s;   
}
img:hover{
    transform: scale(0.9);ā
}